:root {
  --body: #404139;
  --text: rgb(245, 203, 149);
  --shadow: 2px 2px 100px 30px rgb(99, 97, 97);
  --recipeBtn: rgb(161, 172, 83, .6);
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: var(--body);
  display: flex;
  flex-direction: column;
  place-content: center;
  min-height: 100vh;
  min-width: 100vw;
  color: var(--text);
}

#main {
  position: relative;
  max-width: 1400px;
  width: 100%;
  height: 100%;
}