:root {
  --body: #404139;
  --text: rgb(245, 203, 149);
  --shadow: 2px 2px 100px 30px rgb(99, 97, 97);
  --recipeBtn: rgb(161, 172, 83, .6);
}

p, h1, h2, h3, h4 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img, button {
  width: 100%;
}

#root {
  margin: 0 auto;
  text-align: center;
}

body {
  background-color: var(--body);
  display: flex;
  flex-direction: column;
  place-content: center;
  min-height: 100vh;
  color: var(--text);
  overflow: hidden;
}

#main {
  position: relative;
  max-width: 1600px;
  width: 100%;
  height: 100%;
}