:root {
  --body: #404139;
  --text: rgb(245, 203, 149);
  --shadow: 2px 2px 100px 30px rgb(99, 97, 97);
  --recipeBtn: rgb(161, 172, 83, .6);
}

p, h1, h2, h3, h4, h5 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img, button {
  width: 100%;
}

::selection {
  color: #0e96cc;
}

body {
  background-color: var(--body);
  color: var(--text);
  /* overflow: hidden; */
}

/* * * * * * * * * * *
---- Scroll Bar -------
* * * * * * * * * * * */

::-webkit-scrollbar {
  width: 40px;
  /* background-color: #00000017; */
  border-radius: 16px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--text);
  border-radius: 16px;
}


/* * * * * * * * * * *
-- Reusable Elements --
* * * * * * * * * * * */

#main {
  position: relative;
  display: grid;
  place-content: center;
  text-align: center;
  height: calc(100vh - 66px);
}

.sectionTitle {
  font-size: 60px;
}

.button {
  appearance: none;
  border-radius: 8px;
  box-shadow: 4px 4px 20px;
  transition: all ease .3s;
  padding: 12px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(161, 172, 83, .4);
  font-size: 24px;
  font-weight: 600;
  color: #8eafae;
  width: 300px;
  height: 40px;
  cursor: pointer;
  
  &:hover {
    transform: scale(1.02);
    color: #d7f5f5;
  }
}