
/* -------------------
    Recipe Cards
------------------ */

#recipePage {
  max-width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.outerBox {
  background-color: #6e7253;
  padding: 10px;
  margin: 8px;
  border-radius: 16px;
  width: 600px;
  cursor: pointer;
  transition: 300ms ease-out;
  box-shadow: var(--shadow);
  &:hover {
    scale: 1.01;
  }
}

.outerBox h3,p {
  transition: color .8s ease, color 1.2s ease;
  &:hover {
    color: rgb(245, 203, 149);
  }
}

.recipeCard {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 6px solid #ac5040;
  background: content-box radial-gradient(rgba(164, 206, 202, 80%), rgba(36, 88, 84, 80%));
  border-radius: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.recipeTitle {
  color: rgb(189, 194, 193);
  font-size: 28px;
  line-height: 30px;
  font-weight: 600;
  margin: 20px 0;
}

.imageHolder{
  max-width: 300px;
  border: 4px solid #ac5040;
  padding: 4px;
  border-radius: 16px;
  transition: 300ms ease-out;
  &:hover {
    transform: rotate(1deg);
  }
}

.recipeImage {
  object-fit: cover;
  border-radius: 16px;
  transition: 300ms ease-out;
  &:hover {
    transform: rotate(.5deg);
    scale: 1.03;
  }
}

.cardBottom {
  color: rgb(189, 194, 193);
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;
  margin: 10px 0 20px;
}

.cardBottom p {
  margin: 6px ;
  font-size: 110%;
}

.nextBtnBox, .lastBtnBox, .saveBtnBox {
  position: absolute;
  transform: translateY(-50%);
  background-color: rgba(161, 172, 83, .4);
  box-shadow: 4px 4px 20px #8eafae;
  border-radius: 8px;
}

.nextBtnBox {
  right: -156px;
  top: 50%;
  height: 138px;
  width: 80px;
}

.lastBtnBox {
  left: -156px;
  top: 50%;
  height: 138px;
  width: 80px;
}

.saveBtnBox {
  bottom: -160px;
  width: 138px;
  height: 80px;
}

.nextBtn, .lastBtn, .saveBtn {
  position: absolute;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  background-color: var(--body);
  background: transparent;
  cursor: pointer;
  &:active {
    translate: 1px -1px;
  }
}

.nextBtn {
  right: -160px;
  top: 50%;
  border-top: 60px solid transparent ;
  border-right: var(--body);
  border-bottom: 60px solid transparent ;
  border-left: 60px solid var(--recipeBtn); 
  transition: border-left ease 1s;
  &:hover {
    scale: 1.02;
    border-left: 60px solid #bbc56e;
  }
}

.lastBtn {
  top: 50%;
  left: -160px;
  border-top: 60px solid transparent ;
  border-right: 60px solid var(--recipeBtn);
  border-bottom: 60px solid transparent ;
  border-left: var(--body);
  transition: border-right ease 1s;
  &:hover {
    scale: 1.02;
    border-right: 60px solid #bbc56e;
  }
}

.saveBtn {
  bottom: -145px;
  border-top: 60px solid var(--recipeBtn);
  border-right: 60px solid transparent ;
  border-bottom: 0 var(--body);
  border-left: 60px solid transparent ;
  transition: border-top ease 1s;
  &:hover {
    scale: 1.02;
    border-top: 60px solid #bbc56e;
  }
}

.nextBtnText, .lastBtnText, .saveBtnText {
  position: absolute;
  font-size: 130%;
  max-width: 80px;
  word-wrap: break-word;
}

.nextBtnText {
  right: -160px;
  top: 66%;
}

.lastBtnText {
  left: -140px;
  top: 66%;
}

.saveBtnText {
  right: unset;
  top: unset;
  bottom: -5%;
}

/*----------------
     Holder Can   
---------------- */

.holder {
  position: absolute;
  bottom: -40%;
  left: -50%;
  animation: holder 2s ease-in 200ms;
}

@keyframes holder {
  0% {
    opacity: 0;
    z-index: -100;
  }

  100% {
    opacity: 1;
    z-index: 1;
  }
}

.shake {
  animation: shake 1s ease;
}

@keyframes shake {

  0% {
    translate: 0;
  }

  20% {
    translate: -5px 0;
  }

  40% {
    translate: 4px 0;
  }

  65% {
    translate: -2px 0;
  }

  90% {
    translate: 1px 0;
  }

  100% {
    translate: 0;
  }

}

#holderName {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  color: var(--text);
  font-size: 20px;
}

#holderAmt {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
  color: var(--text);
  font-size: 20px;
}

.holderCan {
  position: relative;
  background-color: hsla(180, 60%, 90%, 0.562);
  width: 80px;
  height: 100px;
}

#holderTop, #holderBottom {
  width: 100%;
  height: 30%;
  position: absolute;
  border-radius: 50%;
  border-bottom: solid 2px #2a6464;
}

#holderTop {
  top: -15%;
  background-color: #d7f5f5;
  border-bottom: solid 2px #2a6464;
}

#holderBottom {
  bottom: -15%;
  background-color: #d7f5f5;
}



/*----------------
     Login   
---------------- */

.sectionTitle {
  font-size: 60px;
}

#login {
  border-bottom: solid 2px #a1ac53;
  border-top: solid 2px #a1ac53;
  height: 400px;
  width: 400px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputBox {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  width: 200px;
  height: 52px;
  text-align: center;
  color: #a1ac53;
  font-size: 24px;
  font-weight: 600;
  background-color:rgba(231, 112, 206, 0.1);
  margin: 20px 0;
  border: solid 1px  #a1ac53;
  box-shadow: 2px 2px 15px  #0d0e05;
  border-radius: 12px;
  &:focus {
    scale: 1.02;
  }
}

.label {
  position: absolute;
  font-size: 24px;
  font-weight: 600;
  pointer-events: none;
}

#btnBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#btnBox h2 {
  font-size: 30px;
  margin: 10px;
}

#createBtn, #loginBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(161, 172, 83, .4);
  font-size: 24px;
  font-weight: 600;
  color:#8eafae;
  width: 300px;
  height: 40px;
  cursor: pointer;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 4px 4px 20px;
  transition: all ease .3s;
  padding: 12px 0;
}

#loginBtn {
  width: 200px;
}

#loginBtn:hover, #createBtn:hover {
  transform: scale(1.02);
  color: #d7f5f5;
}

#errorMessage {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  font-size: 30px;
  margin-top: 5px;
}

#errorExit {
  margin-top: 10px;
  cursor: pointer;
  transition: all ease .3s;
}

#errorExit:hover {
  transform: scale(1.02);
  color: #d7f5f5;
}
