/* -------------------
    Home/Landing
------------------ */

#homebase {
  padding: 90px 90px;
  box-shadow: var(--shadow);
  border-radius: 8px;
  display: flex;
  justify-content: center;
}

#homeRecipe {
  position: absolute;
  top: 10%;
  font-size: 120px;
}

@keyframes recipeIn {

  0% {
    transform: rotateX(90deg);
  }

  100% {
    transform: rotateX(0);
  }

}

#homeRecipe span {
  display: inline-block;
  animation-name: recipeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  transform: rotateX(90deg);
  margin: 0 8px;
  text-shadow: 0 -4px 10px #ffffff8A;
}

#homeRecipe span:nth-child(1) {
  animation-delay: 0s;
}

#homeRecipe span:nth-child(2) {
  animation-delay: .3s;
}

#homeRecipe span:nth-child(3) {
  animation-delay: .6s;
}

#homeRecipe span:nth-child(4) {
  animation-delay: .9s;
}

#homeRecipe span:nth-child(5) {
  animation-delay: 1.1s;
}

#homeRecipe span:nth-child(6) {
  animation-delay: .6s;
}

#homeRecipe span:nth-child(7) {
  animation-delay: .3s;
}

#homeRecipe span:nth-child(8) {
  animation-delay: 0s;
}

#homeBackground {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  font-size: 120px;
  text-shadow: 0 0 5px #ffffff8A;
}

#homeBackground span {
  font-size: 60px;
}

#homeButtons {
  position: absolute;
  bottom: 8%;
  display: flex;
  align-items: center;
  gap: 80px;
}


#homeSearch,
#homeLogin {
  height: 80px;
  margin: 20px 0;
  box-shadow: 4px 4px 20px #8eafae;
  animation: buttonsIn 1200ms ease-in 2s forwards;
  opacity: 0;
}

@keyframes buttonsIn {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

@media (max-width: 900px) {

  #homebase {
    padding: 50px;
    box-shadow: var(--shadow);
    border-radius: 8px;
    display: flex;
    justify-content: center;
  }

  #homeRecipe {
    top: 8%;
    font-size: 70px;
  }

  #homeRecipe span {
    margin: 0 8px;
  }

  #homeBackground {
    font-size: 70px;
  }

  #homeBackground span {
    font-size: 30px;
  }

  #homeButtons {
    bottom: 10%;
  }


  #homeSearch,
  #homeLogin {
    height: 100%;
    width: 200px;
    margin: 0;
  }

}

@media (max-width: 500px) {


  #homebase {
    padding: 90px;
  }

  #homeRecipe {
    font-size: 80px;
    top: 10%;
  }

  #homeRecipe span {
    margin: 0 8px;
  }

  #homeBackground span {
    font-size: 60px;
  }

  #homeButtons {
    bottom: 13%;
    flex-direction: column;
    gap: 40px;
  }


  #homeSearch,
  #homeLogin {
    height: 40px;
    margin: 0;
    box-shadow: 4px 4px 10px #8eafae;
  }

}


/*----------------
     Login   
---------------- */

#loginForm {
  border-bottom: solid 2px #a1ac53;
  border-top: solid 2px #a1ac53;
  width: 400px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.input {
  width: 200px;
  height: 52px;
  text-align: center;
  color: #a1ac53;
  font-size: 24px;
  font-weight: 600;
  background-color: rgba(231, 112, 206, 0.1);
  margin: 0 auto;
  border: solid 1px #a1ac53;
  box-shadow: 2px 2px 15px #0d0e05;
  border-radius: 12px;

  &:focus {
    scale: 1.02;
  }
}

.input::placeholder {
  font-size: 24px;
  font-weight: 600;
  color: #a1ac53
}

#loginForm h2 {
  font-size: 30px;
}

#createBtn,
#loginBtn {
  margin: 0 auto;
}

#loginBtn {
  width: 200px;
}

.errorMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 30px;
}

.errorExit {
  cursor: pointer;
  transition: all ease .3s;
}

.errorExit:hover {
  transform: scale(1.02);
  color: #d7f5f5;
}

@media (max-width: 900px) {

  #loginForm {
    border-bottom: none;
    border-top: none;
    width: 100%;
    padding: 40px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 30px;
    row-gap: 80px;
    position: relative;
  }

  .input {
    width: unset;
    height: 100%;
    font-size: 18px;
    padding: 8px 0;
  }

  .input::placeholder {
    font-size: 18px;
  }

  #loginForm h2 {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }

  #createBtn,
  #loginBtn {
    margin: 0;
  }

  #loginBtn {
    width: unset;
  }

  .errorMessage {
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    margin-top: 0;
  }

  .errorExit {
    margin: 0;
  }

}

@media (max-width: 500px) {

  #loginForm {
    padding: 30px 0;
    gap: 30px;
    grid-template-columns: 1fr;

  }

  .input {
    height: 52px;
  }

  .input:nth-child(4) {
    margin-bottom: 40px;
  }

  #loginForm h2 {
    font-size: 30px;
    position: static;
    translate: 0 10%;
  }

  #createBtn,
  #loginBtn {
    width: 100%;
  }

  .errorMessage {
    flex-direction: column-reverse;
    font-size: 30px;
    margin-top: 10px;
  }

  .errorExit {
    margin-top: 10px;
  }

  .errorExit:hover {
    transform: scale(1.02);
    color: #d7f5f5;
  }

}


/* -------------------
    Recipe Cards
------------------ */

#dataLoading {
  font-size: 20px;
  font-weight: 500;
}

#dataLoading.noData {
  display: none;
}

#noDataFound {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  padding: 30px;
  border-radius: 16px;
  background-color: rgba(161, 172, 83, .4);
  color: #8eafae;
  font-weight: 600;
  font-size: 20px;
  box-shadow: 4px 4px 20px;
  z-index: 1000;
}

#recipePage {
  position: relative;
}

#recipePage .recipeTitle,
#recipePage p {
  transition: color .8s ease, color 1.2s ease;

  &:hover {
    color: rgb(245, 203, 149);
  }
}

.outerBox {
  background-color: #6d7e92a1;
  padding: 20px;
  border-radius: 16px;
  min-width: 500px;
  cursor: pointer;
  transition: 300ms ease-out;
  box-shadow: var(--shadow);

  &:hover {
    scale: 1.01;
  }
}

.recipeCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  background: content-box radial-gradient(rgba(164, 206, 202, 80%), rgba(231, 112, 206, 0.1));
  border-radius: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.recipeTitle {
  color: rgb(189, 194, 193);
  font-size: 28px;
  line-height: 30px;
  font-weight: 600;
  margin: 20px 0;
  max-width: 400px;
}

.imageHolder {
  max-width: 274px;
  box-shadow: 0 0 30px 2px var(--text);
  border-radius: 16px;
  position: relative;
}

.recipeImage {
  object-fit: cover;
  border-radius: 16px;
  transition: 300ms ease-out;
}

.recipeImageCover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background-color: #00000020;
  border-radius: 16px;
}

.cardBottom {
  color: rgb(189, 194, 193);
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;
  margin: 14px 0 20px;
}

.cardBottom p {
  margin: 6px;
  font-size: 22px;
}

.nextBtnBox,
.lastBtnBox {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  background-color: transparent;
  box-shadow: -2px -2px 20px #8eafae;
  border-radius: 50%;
  cursor: pointer;

  &:active {
    translate: 1px -1px;
  }
}

.nextBtnBox {
  right: -20%;
}

.lastBtnBox {
  left: -20%;
}

.searchBox {
  border: var(--text) 3px solid;
  padding: 16px;
  border-radius: 22px;
  background-color: transparent;
  box-shadow: var(--shadow);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  max-width: 220px;
  width: 100%;
  margin: 30px auto 0;

  &:hover {
    transform: scale(1.01);
    backdrop-filter: none;
  }
}

.searchBox.noResults {
  width: 300px;
}

.searchBox img {
  width: 24px;
  filter: brightness(0) invert(1);
}

.searchBox img:nth-child(1) {
  transform: rotate(180deg);
}

.searchBox p {
  color: var(--text);
  font-size: 24px;
}

@media (max-width: 900px) {

  .outerBox {
    padding: 10px;
    min-width: 500px;
  }

  .recipeCard {
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: flex-start;
    gap: 40px;
    padding: 20px 0;
    background: none;
  }

  .recipeTitle {
    place-self: center;
    font-size: 22px;
    line-height: 100%;
    margin: 0;
    max-width: 200px;
  }

  .imageHolder {
    max-width: 180px;
  }

  .cardBottom {
    font-size: 16px;
    line-height: 100%;
    margin: 0;
    position: absolute;
    left: 4%;
    bottom: 4%;
  }

  .cardBottom p {
    margin: 0;
    font-size: 16px;
  }

  .nextBtnBox,
  .lastBtnBox {
    width: 40px;
  }

  .nextBtnBox {
    right: -20%;
  }

  .lastBtnBox {
    left: -20%;
  }

  .searchBox {
    border: var(--text) 2px solid;
    padding: 6px;
    gap: 14px;
    max-width: 168px;
    margin: 20px auto 0;
  }

  .searchBox.noResults {
    width: 300px;
  }

  .searchBox img {
    width: 16px;
  }

  .searchBox p {
    font-size: 16px;
  }

}

@media (max-width: 500px) {

  #recipePage {
    translate: 0 -15%;
  }

  .outerBox {
    padding: 30px;
    min-width: 300px;
  }

  .recipeCard {
    grid-template-columns: 1fr;
    align-items: center;
    gap: 30px;
    padding: 0;
  }

  .recipeTitle {
    max-width: 260px;
  }

  .imageHolder {
    max-width: 200px;
    justify-self: center;
  }

  .cardBottom {
    position: static;
  }

  .cardBottom p {
    font-size: 20px;
  }

  .nextBtnBox,
  .lastBtnBox {
    width: 54px;
    top: unset;
    bottom: -30%;
  }

  .nextBtnBox {
    right: 16%;
  }

  .lastBtnBox {
    left: 16%;
  }

  .searchBox {
    margin-top: 40px;
  }

  .searchBox.noResults {
    width: 300px;
  }

  .searchBox img {
    width: 22px;
  }

}

/* -------------------
    Single Recipe
------------------ */

#singleRecipeInner {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  padding: 30px;
  border: solid 3px #6d7e92a1;
  max-width: 800px;
  background-color: #6d7e92a1;
  border-radius: 24px;
  box-shadow: var(--shadow);
  position: relative;
}

#saveRecipeBtn {
  position: absolute;
  font-size: 40px;
  display: block;
  max-width: fit-content;
  max-height: fit-content;
  top: 12px;
  right: 12px;
  cursor: pointer;
  border: none;
  color: rgb(220 207 207);
  background-color: transparent;
  translate: -3px -1px;
  border: solid 1px var(--text);
  border-radius: 5px;
  transition: transform ease 800ms,
    translate ease 2ms, color ease 1200ms;

  &:hover {
    transform: rotate(90deg) scale(1.1);
    color: #fff
  }

}

#recipeSavedMessage {
  padding: 60px 30px;
  position: fixed;
  left: 50%;
  top: 60%;
  translate: -50% -50%;
  z-index: 30;
  background-color: #530b0bb8;
  font-size: 32px;
  border-radius: 32px;
  color: rgb(220 207 207);
  animation: message 2s ease forwards;
}

@keyframes message {
  0% {
    top: 55%;
  }

  100% {
    top: 50%;
  }
}

#singleRecipeImageContainer {
  position: relative;
}

#singleRecipeImage {
  border-radius: 12px;
  aspect-ratio: 1/1;
  box-shadow: 2px 2px 20px #000;
}

#singleRecipeImageCover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background-color: #00000020;
  border-radius: 12px;
}

.singleRecipeRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 30px;
}

.singleRecipeRight h2 {
  font-size: 32px;
  color: var(--text);
  padding: 0 0 60px;
}

.singleRecipeInformation {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  padding: 0 30px;
}

#singleRecipeBottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 0 auto;
  padding: 30px 0 0;
}

.singleRecipeBackdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #52085f36;
  z-index: 20;
}

.singleRecipeModal {
  display: flex;
  flex-direction: column;
  padding: 30px;
  position: fixed;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  z-index: 30;
  background-color: #530b0bb8;
  text-align: start;
  font-size: 32px;
  border-radius: 32px;
}

.singleRecipeModal span {
  color: rgb(220 207 207);
  font-family: math;
}

.singleRecipeModal h3 {
  color: rgb(220 207 207);
  margin-bottom: 20px;
  text-decoration: underline;
}

.singleRecipeModal p {
  margin-bottom: 12px;
}

#singleRecipeIngredients {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#singleRecipeIngredients.longList {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 20px;
  row-gap: 16px;
  width: 800px;
}

#singleRecipeIngredients.longList>* {
  align-self: center;
}

.singleRecipeIngredient {
  font-size: 28px;
  position: relative;
  padding-left: 20px;
}

.singleRecipeIngredient::before {
  position: absolute;
  left: 0;
  top: 50%;
  translate: 0 -50%;
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: rgb(220 207 207);
  transform: rotate(45deg);
}

@media (max-width: 900px) {

  #singleRecipeInner {
    max-width: 500px;
    padding: 50px 40px 16px;
  }

  #singleRecipeImageContainer {
    max-width: 180px;
    place-self: center;
  }

  .singleRecipeRight {
    padding: 0 10px;
  }

  .singleRecipeRight h2 {
    font-size: 24px;
    padding: 0;
    position: absolute;
    top: 4%;
    left: 50%;
    translate: -50%;
    width: 100%;
  }

  .singleRecipeInformation {
    gap: 20px;
    padding: 0 20px;
  }

  .singleRecipeBtn {
    font-size: 16px;
    padding: 8px 10px;
    max-width: 150px;
  }

  .backButton,
  .searchButton {
    position: absolute;
    width: 140px;
    bottom: 4%;
    font-size: 16px;
    height: auto;
    padding: 8px 10px;
  }

  .backButton {
    left: 4%;
  }

  .searchButton {
    right: 4%;
  }

  .singleRecipeModal {
    font-size: 28px;
  }

  .singleRecipeModal h3 {
    margin-bottom: 20px;
  }

  .singleRecipeModal p {
    margin-bottom: 12px;
  }

  #singleRecipeIngredients {
    gap: 16px;
  }

  #singleRecipeIngredients.longList {
    row-gap: 14px;
    width: 600px;
  }

  .singleRecipeIngredient {
    font-size: 18px;
    padding-left: 16px;
  }

  .singleRecipeIngredient::before {
    width: 6px;
    height: 6px;
  }

}

@media (max-width: 500px) {

  #singleRecipe {
    max-width: 95%;
    margin: auto;
  }

  #saveRecipeBtn {
    font-size: 40px;
    top: 40%;
    right: 3%;
  }

  #singleRecipeInner {
    padding: 80px 20px 20px;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  #singleRecipeImageContainer {
    max-width: 200px;
    place-self: center;
  }

  .singleRecipeRight h2 {
    max-width: 350px;
  }

  .singleRecipeInformation {
    flex-wrap: nowrap;
    gap: 15px;
    padding: 0;
  }

  .singleRecipeBtn {
    padding: 12px;
    height: 64px;
  }

  #singleRecipeBottom {
    padding-top: 60px;
  }

  .backButton,
  .searchButton {
    position: static;
  }

  .singleRecipeModal {
    font-size: 28px;
    width: 80%;
  }

  #singleRecipeIngredients.longList {
    gap: 10px;
    row-gap: 14px;
    width: unset;
  }

}

/* -------------------
    Profile Page
------------------ */

#profileStuff {
  display: grid;
  place-content: center;
  padding: 30px;
  border: solid 3px #6d7e92a1;
  max-width: 800px;
  background-color: #6d7e92a1;
  border-radius: 24px;
  box-shadow: var(--shadow);
  position: relative;
}

/* this is for adding user search */

/* #profileStuff {
  display: grid;
  grid-template-columns: 18% 80%;
  gap: 2%;
  align-items: center;
  padding: 30px;
  border: solid 3px #6d7e92a1;
  max-width: 800px;
  background-color: #6d7e92a1;
  border-radius: 24px;
  box-shadow: var(--shadow);
  position: relative;
} */

/* #profileUserList {
} */

#profileRecipes {
  max-width: 600px;
  overflow-x: auto;
  display: flex;
  gap: 30px;
  padding: 20px;
}

.profileItem {
  border: solid 1px #6d7e923f;
  border-radius: 24px;
  background-color: #6d7e92;
  display: flex;
  min-width: 240px;
  transition: min-width ease .5s;
  padding: 20px;
}

.profileItem.open {
  min-width: 374px;
}

.profileItemInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profileItemInfoTitle {
  font-size: 20px;
  max-width: 240px;
  margin: auto;
  font-weight: 500;
}

.profileItemInfoImage {
  display: grid;
  grid-template-columns: 200px 20px;
  gap: 20px;
}

.profileItemInfoImage img {
  aspect-ratio: 1/1;
  border-radius: 16px;
  box-shadow: var(--shadow);
}

.profileItemInfoImageContainer {
  position: relative;
}

.profileItemDropdownToggle {
  font-size: 36px;
  max-width: fit-content;
  height: fit-content;
  margin: 0 auto;
  transition: transform ease .5s,
    scale ease .5s;
  cursor: pointer;
  margin-right: 20px;

  &:hover {
    scale: 1.2;
  }
}

.profileItemDropdownToggle.open {
  transform: rotate(45deg);
}

.profileItemDropdownInfo {
  display: grid;
  grid-template-columns: 0fr;
  transition: grid-template-columns ease .5s;
  align-self: flex-end;
  margin-bottom: 60px;
}

.profileItemDropdownInfo>div {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.profileItemDropdownInfo.open {
  grid-template-columns: 1fr;
}

.profileItemDropdownInfo button:first-child {
  margin-bottom: 10px;
}

.profileItemButton {
  appearance: none;
  border-radius: 8px;
  /* box-shadow: 4px 4px 20px; */
  transition: all ease .3s;
  padding: 12px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(161, 172, 83, .4);
  font-size: 24px;
  font-weight: 600;
  color: #8eafae;
  width: 130px;
  height: 40px;
  cursor: pointer;
  ;

  &:hover {
    transform: scale(1.02);
    color: #d7f5f5;
  }
}

@media (max-width: 900px) {

  #profileStuff {
    padding: 10px;
    border: none;
    max-width: 600px;
    margin-top: 10px;
  }

  #profileRecipes {
    gap: 20px;
    padding: 0 10px 10px;
  }

  .profileItem {
    min-width: 184px;
    padding: 10px;
    gap: 8px;
  }

  .profileItem.open {
    min-width: 354px;
  }

  .profileItemInfo {
    gap: 10px;
  }

  .profileItemInfoTitle {
    max-width: 220px;
    text-align: start;
    margin: auto 0;
  }

  .profileItemInfoImage {
    display: grid;
    grid-template-columns: 1fr 20px;
    gap: 10px;
  }

  .profileItemInfoImage img {
    max-width: 150px;
  }

  .profileItemInfoImageContainer {
    position: relative;
  }

  .profileItemDropdownToggle {
    font-size: 36px;
    max-width: fit-content;
    height: fit-content;
    margin: 0 auto;
    transition: transform ease .5s,
      scale ease .5s;
    cursor: pointer;
    margin-right: 20px;

    &:hover {
      scale: 1.2;
    }
  }

  .profileItemDropdownToggle.open {
    transform: rotate(45deg);
  }

  .profileItemDropdownInfo {
    display: grid;
    grid-template-columns: 0fr;
    transition: grid-template-columns ease .5s;
    align-self: flex-end;
    margin-bottom: 60px;
  }

  .profileItemDropdownInfo>div {
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .profileItemDropdownInfo.open {
    grid-template-columns: 1fr;
  }

  .profileItemDropdownInfo button:first-child {
    margin-bottom: 10px;
  }

  .profileItemButton {
    appearance: none;
    border-radius: 8px;
    /* box-shadow: 4px 4px 20px; */
    transition: all ease .3s;
    padding: 12px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(161, 172, 83, .4);
    font-size: 24px;
    font-weight: 600;
    color: #8eafae;
    width: 130px;
    height: 40px;
    cursor: pointer;
    ;

    &:hover {
      transform: scale(1.02);
      color: #d7f5f5;
    }
  }

}

@media (max-width: 500px) {

  #profileStuff {
    padding: 20px;
    border: none;
    max-width: 330px;
    margin: 30px auto 0;
  }

  #profileRecipes {
    flex-direction: column;
    max-height: 600px;
    overflow-y: auto;
  }

  .profileItem {
    flex-direction: column;
    padding: 20px;
  }

  .profileItem.open {
    min-width: unset;
    gap: 40px;
  }

  .profileItemInfo {
    gap: 20px;
  }

  .profileItemInfoTitle {
    padding: 10px 0 0 10px;
    text-align: center;
  }

  .profileItemInfoImage {
    grid-template-columns: 1fr;
    position: relative;
    padding-left: 20px;
  }

  .profileItemInfoImage img {
    max-width: 200px;
    justify-self: center;
    box-shadow: 2px 2px 100px 1px rgb(99, 97, 97);
  }

  .profileItemDropdownToggle {
    position: absolute;
    top: 50%;
    left: 0;
    translate: -50% -50%;
  }

  .profileItemDropdownInfo {
    grid-template-columns: unset;
    transition: grid-template-rows ease .5s;
    grid-template-rows: 0fr;
    align-self: center;
    margin-bottom: 0;
  }

  .profileItemDropdownInfo.open {
    grid-template-columns: unset;
    grid-template-rows: 1fr;
  }

  .profileItemDropdownInfo button:first-child {
    margin-bottom: 20px;
  }

  .profileItemButton {
    color: #bbc7c6;
    width: 150px;
    height: 60px;
  }

}