
/* --------------
    Header   
------------------ */

#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 8%;
  width: 100%;
  border-bottom: 2px solid #a1ac53;
  ;
}

#headerItems {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}

#mainItems {
  position: absolute;
  width: 33%;
  left: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#siteName {
  font-size: 400%;
  font-family: Tahoma (sans-serif);
  margin-right: 4%;
}

#menuDropdownIcon {
  cursor: pointer;
  font-size: 150%;
}

#menuDropdown {
  position: absolute;
  right: 10%;
  bottom: 0;
  cursor: pointer;
  font-size: 150%;
}

#menuDropdownList {
  display: flex;
  justify-content: space-between;
  width: 100%;

}

#menuDropdownList li:hover {
  color: rgb(42, 42, 199);
  background-color: rgba(181, 202, 19, 0.5);
  border: none;
  box-shadow: 0 0 4px 2px rgba(181, 202, 19, 0.5);
  border-radius: 20px 20px 0 0;
}

.openDropdown {
  z-index: 100;
  opacity: 1;
}

.openDropdown li {
  padding: 10px 10px 0;
  transition: background-color .8s ease, color 1.2s ease;
  border-radius: 20px 20px 0 0;
  color: rgb(245, 203, 149);
  text-decoration: none;
  animation: fade-in 800ms ease-in forwards;
}

.closeDropdown {
  display: none;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    z-index: -100;
  }

  100% {
    opacity: 1;
    z-index: 1;
  }
}

@media (max-width: 1080px) {

  #mainItems {
    width: 50%;
  }

}

@media (max-width: 900px) {

  #menuDropdown {
    right: 15%;
  }

}

/* --------------  
    Search Bar  
------------------- */

#search {
  display: grid;
  place-content: center;
}

.searchBar {
  border-bottom: solid 2px #a1ac53;
  border-top: solid 2px #a1ac53;
  height: 40vh;
  width: 60vw;
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  max-width: 600px;
}

.searchBar .button {
  margin: 0 auto;
  translate: 0 100%;
}

#searchField {
  width: 40vw;
  height: 50px;
  max-width: 500px;
}

#searchField::placeholder, #ingredientField::placeholder {
  color:#a1ac53
}

#middleSearch {
  position: absolute;
  bottom: 14%;
 display: flex;
 justify-content: space-around;
 width: 100%;
}

#dropdownBox {
  display: flex;
  flex-direction: column;
}

.dropdowns {
  padding: 4px;
  max-width: 200px;
  color: #a1ac53;
  font-size: 24px;
  font-weight: 600;
  background-color:rgba(231, 112, 206, 0.1);
  margin: 4px;
  border-radius: 8px;
  box-shadow: 4px 4px 20px black;
  
  &:focus {
    scale: 1.02;
  }
}

#optional {
  font-size: 40px;
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50%;
}