/* --------------
    Header   
------------------ */

#header {
  border-bottom: 2px solid #a1ac53;
  padding: 14px 30px 0;
}

#headerItems {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

#mainItems {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

#siteName {
  font-size: 50px;
  font-family: Tahoma (sans-serif);
}

#menuDropdownIcon {
  cursor: pointer;
  font-size: 20px;
}

#menuDropdown {
  cursor: pointer;
  font-size: 20px;
}

#menuDropdownList {
  display: flex;
  gap: 10px;
}

#menuDropdownList li:hover {
  color: rgb(42, 42, 199);
  background-color: rgba(181, 202, 19, 0.5);
  border: none;
  box-shadow: 0 0 4px 2px rgba(181, 202, 19, 0.5);
  border-radius: 20px 20px 0 0;
}

.openDropdown {
  z-index: 100;
  opacity: 1;
}

.openDropdown li {
  padding: 10px 10px 0;
  transition: background-color .8s ease, color 1.2s ease;
  border-radius: 20px 20px 0 0;
  color: rgb(245, 203, 149);
  text-decoration: none;
  animation: fade-in 800ms ease-in forwards;
  position: relative;
  z-index: 100;
}

.closeDropdown {
  display: none;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    z-index: -100;
  }

  100% {
    opacity: 1;
    z-index: 1;
  }
}

@media (max-width: 900px) {

  #siteName {
    font-size: 24px;
  }

  #menuDropdownIcon {
    font-size: 18px;
  }

  #menuDropdown {
    font-size: 18px;
  }

  #menuDropdownList {
    gap: 30px;
  }

  #menuDropdownList li:hover {
    background-color: unset;
    box-shadow: unset;
    color: unset;
  }

  .openDropdown li {
    transition: unset;
  }

  .openDropdown li {
    padding: 0;
  }

}

@media (max-width: 500px) {

  #header {
    padding: 20px 20px 0;
    position: relative;
  }

  #mainItems {
    gap: 10px;
  }

  #siteName {
    font-size: 30px;
  }

  #menuDropdownIcon {
    font-size: 16px;
  }

  #menuDropdown {
    font-size: 16px;
  }

  #menuDropdownList {
    gap: 14px;
    position: absolute;
    top: 120%;
    left: 10%;
  }

  .openDropdown li {
    padding: 0;
    transition: unset;
    border-radius: 0;
    /* animation: unset; */
  }

}

/* --------------  
    Search Bar  
------------------- */

#search {
  display: flex;
  flex-direction: column;
}

.searchBar {
  border-bottom: solid 2px #a1ac53;
  border-top: solid 2px #a1ac53;
  height: 40vh;
  width: 50vw;
  padding: 40px;
  max-width: 600px;
  display: grid;
  place-content: center;
}

#searchForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

#searchForm .button {
  margin: 0 auto;
}

#searchField {
  width: 40vw;
  max-width: 500px;
}

#searchField::placeholder,
#ingredientField::placeholder {
  color: #a1ac53
}

#middleSearch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  width: 100%;
}

#dropdownBox {
  display: flex;
  flex-direction: column;
}

.dropdowns {
  padding: 4px;
  max-width: 200px;
  color: #a1ac53;
  font-size: 24px;
  font-weight: 600;
  background-color: rgba(231, 112, 206, 0.1);
  margin: 4px;
  border-radius: 8px;
  box-shadow: 4px 4px 20px black;

  &:focus {
    scale: 1.02;
  }
}

.dropdowns option {
  font-size: 16px;
  padding: 4px 0;
}

#optional {
  font-size: 40px;
}

@media (max-width: 900px) {

  .searchBar {
    border-bottom: none;
    border-top: none;
    height: 100%;
    width: 100%;
    padding: 40px 0;
    max-width: unset;
  }

  #searchForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  #searchForm .button {
    max-width: 50%;
    order: 3;
  }

  #searchField {
    width: 60vw;
  }

  #middleSearch {
    gap: 40px;
    justify-content: center;
  }

  #ingredientField {
    font-size: 18px;
    height: 80%;
  }

  #dropdownBox {
    flex-direction: row;
  }

  .dropdowns {
    max-width: 150px;
    font-size: 18px;
  }

  #optional {
    display: none;
  }

}

@media (max-width: 500px) {

  .searchBar {
    padding: 60px 0;
  }

  #searchForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  #searchForm .button {
    max-width: 60%;
    max-height: 50px;
  }

  #searchField {
    width: 100%;
    height: 40px;
  }

  #middleSearch {
    flex-direction: column;
    justify-content: center;
    gap: 40px;
  }

  .dropdowns {
    max-width: 150px;
    font-size: 18px;
  }

}